@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

body{min-width: 320px;}

.inner{ width: 100%;}

header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

div.top{ display: none;}

.mbmanu{
    background: url(../images/테라로사/outline_menu_black_24dp.png) 50% 50% no-repeat ;
    width: 35px;
    height: 35px;
    background-size: cover;
    display: block;
    z-index: 200;
}
.mbmanu.on{
    background: url(../images/테라로사/outline_close_black_24dp.png) 50% 50% no-repeat;
    width: 35px;
    height: 35px;
    background-size: cover;
}
div.logo{
    width: 200px;
    height: 50px;
    background-size: contain;
    margin: 0 20px;
}

.mbsearch{
    background: url(../images/테라로사/outline_search_black_24dp.png) 50% 50% no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    z-index: 200;
    background-size: cover;
}
.mbsearch input.on{ display: block;}
.mbsearch input{
    display: none;
    position: relative;
    top: 2px;
    right: 150px;
    height: 25px;
}

nav{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    text-align: center;
    background: #fff;
    transform: translateX(-100%);
}
nav.on{ 
    transform: translateX(0);
    transition: all 1s ease;
}
nav .mlogin{
    width: 100%;
    height: 70px;
    line-height: 50px;
    background: linear-gradient(to right, #be3128 , #b16533);
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .mlogin div{ display: flex; align-items: center;}
nav .mlogin div a{
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}
nav .mlogin div i{
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
}
nav .mlogin span{
    color: #fff;
    font-size: 30px;
}


nav div.menu{
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 130px;
    z-index: 10;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav div.menu a{
    height: 50px;
    line-height: 50px;
}

nav .mtop{
    width: 100%;
    height: 70px;
    background: rgba(51, 49, 49, 0.9);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
nav .mtop span:nth-child(3){
    padding: 0 15px;
}
nav .mtop a{
    text-decoration: none;
    color: white;
}

.swiper-container.banner{ height: auto;}

.swiper-slide.bgimg1{
    background: url(../images/테라로사/테라로사banner1_03.png) 40% 50% no-repeat;
    width: 100%;
    height: 250px;
    background-size: cover;
}

.swiper-slide.bgimg2{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: 93% 50%;
}

.swiper-slide.bgimg3{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: 30% 50%;
}

section h2{
    font-size: 30px;
    text-align: center;
}

section .sec01{
    height: auto;
    flex-wrap: wrap;
}

section .sec01 > .news{
    width: 100%;
    height: auto;
}

section .sec01 > .news > .tab span{
    margin: 0 20px;
    font-size: 20px;
}

section .sec01 > .news > .tab span.on::after{
    width: 110px;
    bottom: -19px;
}


.sec01 > .news > .story{
    height: 450px;
    display:none;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.sec01 > .news > .story.on{display: flex;}


.sec01 > .news > .story .txt{
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    justify-content: unset;
}

.sec01 > .news > .story .txt1 div:first-child,
.sec01 > .news > .story .txt2 div:first-child{
    width: 100%;
    order: 2;
    margin-top: 17px;
    padding: 0 20px;
}

.sec01 > .news > .story .txt2 div:first-child{
    font-size: 15px;
    margin-top: 16px;
    justify-content: space-between;
}

.sec01 > .news > .story .txt1 .img{ 
    margin: 20px 60px;
    width: 250px;
    height: 200px;
}
.sec01 > .news > .story .txt2 .img{
    margin: 20px 60px;
    width: 250px;
    height: 200px;
    background-size: cover;
}

.sec01 > .news > .New{
    flex-direction: column;
    width: 100%;
    height: 450px;
}

.sec01 > .news > .New.on{margin-bottom: 30px;}

.sec01 > .news > .New .img{
    margin: 20px 0;
    width: 300px;
    height: 250px;
    background-size: auto;
}

.sec01 > .news > .New > div:last-child{
    width: 100%;
    height: 250px;
    text-align: justify;
    padding: 0 15px;
}

.sec01 > .news > .New > div:last-child h4{ font-size: 15px;}
.sec01 > .news > .New > div:last-child p{ font-size: 13px;}

section .sec01 > .times{
    width: 100%;
    height: auto;
}

section .sec01 > .times .tab{
    padding: 0 5px;
    margin-bottom: 10px;
}

section .sec01  .swiper-container.timesimg{
    width: 90%;
    height: 480px;
}

.swiper-slide.tim{ height: 100%;}

.swiper-slide.tim.t01, .swiper-slide.tim.t02,
.swiper-slide.tim.t03, .swiper-slide.tim.t04,
.swiper-slide.tim.t05, .swiper-slide.tim.t06,
.swiper-slide.tim.t07, .swiper-slide.tim.t08,
.swiper-slide.tim.t09, .swiper-slide.tim.t10{
    background-size: contain;
}

section .sec02{
    height: auto;
    border: none;
}

.sec02 > .bean .swiper-container.Origin .swiper-button-next,
.sec02 > .bean .swiper-container.Origin .swiper-button-prev,
.sec02 > .bean .swiper-container.Blend .swiper-button-next,
.sec02 > .bean .swiper-container.Blend .swiper-button-prev{
    display: block;
}

section .sec02 > .tab{ height: 60px;}

section .sec02 > .tab span{
    font-size: 20px;
}

section .sec02 > .tab span:first-child::after{
    width: 130px;
    bottom: -5px;
}
section .sec02 > .tab span:last-child::after{
    width: 100px;
    bottom: -5px;
}

.sec02 > .bean > div .swiper-container.Origin .swiper-slide,
.sec02 > .bean > div .swiper-container.Blend .swiper-slide{
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.swiper-slide.Panama > .pic,
.swiper-slide.Guatemala > .pic,
.swiper-slide.Brazil > .pic,
.swiper-slide.Blossoms > .pic,
.swiper-slide.Jeju > .pic,
.swiper-slide.Gangneung > .pic{
    width: 100%;
    height: 249px;
    margin: 25px 0;
    background-size: contain;
}

.swiper-slide.Panama div:last-child,
.swiper-slide.Guatemala div:last-child,
.swiper-slide.Brazil div:last-child,
.swiper-slide.Blossoms div:last-child,
.swiper-slide.Jeju div:last-child,
.swiper-slide.Gangneung div:last-child{
    width: 100%;
    text-align: center;
}

.swiper-slide.Panama div:last-child h4,
.swiper-slide.Guatemala div:last-child h4,
.swiper-slide.Brazil div:last-child h4,
.swiper-slide.Blossoms div:last-child h4,
.swiper-slide.Jeju div:last-child h4,
.swiper-slide.Gangneung div:last-child h4{
    font-size: 24px;
    margin: 0 15px 20px;
    width: 90%;
}

.swiper-slide.Panama div:last-child p,
.swiper-slide.Blossoms div:last-child p,
.swiper-slide.Jeju div:last-child p,
.swiper-slide.Gangneung div:last-child p{
    font-size: 14px;
    text-align: justify;
    margin: 0 15px;
}

.swiper-slide.Guatemala div:last-child p,
.swiper-slide.Brazil div:last-child p{
    font-size: 13px;
    text-align: justify;
    margin: 0 15px;
}

.swiper-slide.Panama div:last-child p:nth-child(3),
.swiper-slide.Brazil div:last-child p:nth-child(3),
.swiper-slide.Blossoms div:last-child p:nth-child(3),
.swiper-slide.Jeju div:last-child p:nth-child(3),
.swiper-slide.Gangneung div:last-child p:nth-child(3){
    margin: 10px 15px;
}
.swiper-slide.Guatemala div:last-child p:nth-child(3){
    margin: 5px 15px;
}



section.sec03 .swiper-container.Locations{
    height: 700px;
}

.swiper-container.Locations .swiper-wrapper p{
    margin-bottom: 10px;
}

section.sec03 .swiper-container.Locations .swiper-slide{
    flex-direction: column;
}

.swiper-slide.factory > .left, 
.swiper-slide.GilDong > .left,
.swiper-slide.ArtMuseum > .left,
.swiper-slide.Seojong > .left, 
.swiper-slide.GyeongPo > .left, 
.swiper-slide.Sejong > .left,
.swiper-slide.SuYoung > .left,
.swiper-slide.Seogwipo > .left{
    width: 100%;
    height: 250px;
}

.swiper-slide.GilDong > .left, 
.swiper-slide.Sejong > .left{background-position-x: 90%;}
.swiper-slide.ArtMuseum > .left,
.swiper-slide.Seogwipo > .left{background-position-x: 25%;}
.swiper-slide.Seojong > .left{background-position-x: 80%;}

.swiper-slide.factory > .right,
.swiper-slide.GilDong > .right,
.swiper-slide.ArtMuseum > .right,
.swiper-slide.GyeongPo > .right,
.swiper-slide.Seojong > .right,
.swiper-slide.Sejong > .right,
.swiper-slide.SuYoung > .right,
.swiper-slide.Seogwipo > .right{
    width: 100%;
    height: auto;
}

.swiper-slide.factory .right > .map, 
.swiper-slide.GilDong > .right > .map,
.swiper-slide.ArtMuseum > .right > .map, 
.swiper-slide.GyeongPo > .right > .map, 
.swiper-slide.Seojong > .right > .map, 
.swiper-slide.Sejong > .right > .map,
.swiper-slide.SuYoung > .right > .map,
.swiper-slide.Seogwipo > .right > .map{
    display: none;
}

.swiper-slide.factory .right h3, 
.swiper-slide.GilDong > .right h3,
.swiper-slide.ArtMuseum > .right h3, 
.swiper-slide.GyeongPo > .right h3,
.swiper-slide.Seojong > .right h3, 
.swiper-slide.Sejong > .right h3,
.swiper-slide.SuYoung > .right h3, 
.swiper-slide.Seogwipo > .right h3{
    font-size: 20px;
    margin: 10px 0;
}

.swiper-slide.factory .right > .address,
.swiper-slide.GilDong > .right > .address,
.swiper-slide.ArtMuseum > .right > .address,
.swiper-slide.GyeongPo > .right > .address,
.swiper-slide.Seojong > .right > .address,
.swiper-slide.Sejong > .right > .address,
.swiper-slide.SuYoung > .right > .address,
.swiper-slide.Seogwipo > .right > .address{
    flex-direction: column;
}

.swiper-slide.factory .right > .address div,
.swiper-slide.GilDong > .right > .address div,
.swiper-slide.ArtMuseum > .right > .address div,
.swiper-slide.GyeongPo > .right > .address div,
.swiper-slide.Seojong > .right > .address div,
.swiper-slide.Sejong > .right > .address div,
.swiper-slide.SuYoung > .right > .address div
.swiper-slide.Seogwipo > .right > .address div{
    width: 100%;
    height: 50%;
    padding: 0 10px 0 5px;
    font-size: 13px;
    text-align: justify;
}

.swiper-slide.Seogwipo > .right > .address div{
    font-size: 14px;
    width: 100%;
    height: 50%;
    padding: 0 10px 0 5px;
    text-align: justify;
}

.swiper-slide.factory .right > .address dl,
.swiper-slide.GilDong > .right > .address dl,
.swiper-slide.ArtMuseum > .right > .address dl,
.swiper-slide.GyeongPo > .right > .address dl,
.swiper-slide.Seojong > .right > .address dl,
.swiper-slide.Sejong > .right > .address dl,
.swiper-slide.SuYoung > .right > .address dl,
.swiper-slide.Seogwipo > .right > .address dl{
    width: 100%;
    height: 250px;
    justify-content: space-around;
    padding: 0 5px;
}

.swiper-slide.factory .right > .address dl > dt,
.swiper-slide.GilDong > .right > .address dl > dt,
.swiper-slide.ArtMuseum > .right > .address dl > dt,
.swiper-slide.GyeongPo > .right > .address dl > dt,
.swiper-slide.Seojong > .right > .address dl > dt,
.swiper-slide.Sejong > .right > .address dl > dt,
.swiper-slide.SuYoung > .right > .address dl > dt,
.swiper-slide.Seogwipo > .right > .address dl > dt{
    margin: 0;
}

.swiper-slide.factory .right > .address dl > dd{
    margin: 0;
}
.swiper-slide.GilDong > .right > .address dl > dd,
.swiper-slide.ArtMuseum > .right > .address dl > dd,
.swiper-slide.GyeongPo > .right > .address dl > dd,
.swiper-slide.Seojong > .right > .address dl > dd,
.swiper-slide.Sejong > .right > .address dl > dd,
.swiper-slide.SuYoung > .right > .address dl > dd,
.swiper-slide.Seogwipo > .right > .address dl > dd{
    margin: 10px 0;
}

section.sec03 .TERAMUSEUM{
    background: url(../images/테라로사/테라로사박물관m_27.png) 70% 50% no-repeat;
    width: 100%;
    height: 700px;
    background-size: auto;
}

section.sec03 .TERAMUSEUM > dl{
    width: 200px;
    font-size: 13px;
    transform: translateX(-75%)
}

section.sec03 .TERAMUSEUM > dl dd:nth-child(2),
section.sec03 .TERAMUSEUM > dl dd:nth-child(4){
    margin-bottom: 10px;
}

section.sec03 .linetab{
    height: 40px;
    margin: 20px 0;
}

section.sec03 .linetab::after{ 
    width: 80%;
    bottom: -2px;
}

section.sec03 .linetab span{ 
    margin: 0 40px;
    font-size: 18px;
    line-height: 10px;
}

section.sec03 .linetab span:hover.on::before{
    width: 40px;
    height: 40px;
    bottom: -22px;
}

section.sec03 .linetab span::after{
    bottom: -6px;
}

footer{ height:150px}

footer .inner{
    justify-content: unset;
    flex-direction: column;
}

footer .info{
    width: 100%;
    height: auto;
    order: 2;
    justify-content: unset;
    font-size: 16px;
    background: #333131;
}

footer .info > div {
    display: flex;
    flex-direction: column;
    height: 80px;
    line-height: 30px;
    color: #b7b4b4;
}

footer .info > div span{
    width: 100%;
    border-bottom: 1px solid #7f7979;
    padding: 0 5px;
}

footer .info > div span:first-child::after{display: none;}

footer .info dl:nth-child(2){
    color: #b7b4b4;
    justify-content: center;
    font-size: 12px;
    margin: 0 15px 10px;
}

footer .info dl:nth-child(2) dt:nth-child(3),
footer .info dl:nth-child(2) dd:nth-child(4){
    display: none;
}

footer .info dl:nth-child(2) dd{
    margin: 0 5px;
}

footer .info dl:nth-child(3){display: none;}

footer .info > p{
    color: #b7b4b4;
    font-size: 12px;
    text-align: center;
    margin: 0 10px 10px;
}
footer .info div:last-child{ display: none;}

footer .customer{ 
    width: 100%;
    height: 150px;
    margin: 30px 0 10px 0;
    border-top: 1px solid #000;
}

.scrolltop{
    display: none;
}